{
  "openapi": "3.0.0",
  "info": {
    "title": "Alchemyst AI API v1 documentation",
    "version": "1.0.0",
    "description": "v1 API documentation for Alchemyst AI"
  },
  "servers": [
    {
      "url": "https://platform-backend.getalchemystai.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/context/add-async/{id}/cancel": {
      "delete": {
        "summary": "Cancel a context add job",
        "description": "Attempts to cancel a context add job by job id.\n- If the job is already completed or failed, returns 404.\n- If the job is currently running (\"active\"), returns 409 and cannot be cancelled.\n- Only jobs in \"waiting\" or \"delayed\" state can be cancelled.\n",
        "tags": [
          "context"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Job ID to cancel"
          }
        ],
        "responses": {
          "200": {
            "description": "Job cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "jobId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid job id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: insufficient scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Job not found or already completed/failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Job is currently running and cannot be cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/context/add-async/{id}/status": {
      "get": {
        "summary": "Get status of a context add job",
        "description": "Returns the status and result of a context add job by job id.",
        "tags": [
          "context"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Job ID to check status for"
          }
        ],
        "responses": {
          "200": {
            "description": "Job status and result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "jobId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object"
                    },
                    "attemptsMade": {
                      "type": "number"
                    },
                    "failedReason": {
                      "type": "string"
                    },
                    "finishedOn": {
                      "type": "number"
                    },
                    "processedOn": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid job id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/context/add-async": {
      "post": {
        "summary": "Add context data to the context processor",
        "description": "This endpoint accepts context data and sends it to a context processor for further handling. It returns a success or error response depending on the result from the context processor.",
        "tags": [
          "context"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string",
                          "description": "The content of the document"
                        }
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "description": "Array of documents with content and additional metadata"
                  },
                  "source": {
                    "type": "string",
                    "description": "The source of the context data"
                  },
                  "context_type": {
                    "type": "string",
                    "enum": [
                      "resource",
                      "conversation",
                      "instruction"
                    ],
                    "description": "Type of context being added"
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "internal",
                      "external"
                    ],
                    "default": "internal",
                    "description": "Scope of the context"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Additional metadata for the context",
                    "properties": {
                      "fileName": {
                        "type": "string",
                        "description": "Name of the file"
                      },
                      "fileType": {
                        "type": "string",
                        "description": "Type/MIME of the file"
                      },
                      "groupName": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Array of Group Name to which the file belongs to"
                      },
                      "lastModified": {
                        "type": "string",
                        "description": "Last modified timestamp"
                      },
                      "fileSize": {
                        "type": "number",
                        "description": "Size of the file in bytes"
                      }
                    }
                  }
                }
              },
              "example": {
                "documents": [
                  {
                    "content": "Customer asked about pricing for the Scale plan.",
                    "containerTag": "support-emails",
                    "ticketId": "TCK-1234"
                  }
                ],
                "source": "support-inbox",
                "context_type": "resource",
                "scope": "internal",
                "metadata": {
                  "fileName": "support_thread_TCK-1234.txt",
                  "fileType": "text/plain",
                  "groupName": [
                    "support",
                    "pricing"
                  ],
                  "lastModified": "2025-01-10T12:34:56.000Z",
                  "fileSize": 2048
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Context added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "queued": {
                      "type": "boolean",
                      "example": true
                    },
                    "jobId": {
                      "type": "string",
                      "example": "context-add-123456"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request – Invalid or missing context data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "description": "Error details"
                    },
                    "status": {
                      "type": "number",
                      "example": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – User is not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required - User does not have enough credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User does not have required scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Invalid context data format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/context/add-async/status": {
      "get": {
        "summary": "List all ongoing context add jobs for the authenticated user",
        "description": "Returns all jobs (active, waiting, delayed) belonging to the authenticated user.",
        "tags": [
          "context"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "active",
                "failed",
                "completed"
              ],
              "default": "all"
            },
            "description": "Type of jobs to list",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "default": "100"
            },
            "description": "Maximum number of jobs to return",
            "required": false
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "string",
              "default": "0"
            },
            "description": "Number of jobs to skip before starting to collect the result set",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "List of jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "jobs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "jobId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "attemptsMade": {
                            "type": "number"
                          },
                          "failedReason": {
                            "type": "string"
                          },
                          "finishedOn": {
                            "type": "number"
                          },
                          "processedOn": {
                            "type": "number"
                          },
                          "data": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/context/add": {
      "post": {
        "summary": "Add context data to the context processor",
        "description": "This endpoint accepts context data and sends it to a context processor for further handling. It returns a success or error response depending on the result from the context processor.",
        "tags": [
          "context"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string",
                          "description": "The content of the document"
                        }
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "description": "Array of documents with content and additional metadata"
                  },
                  "source": {
                    "type": "string",
                    "description": "The source of the context data"
                  },
                  "context_type": {
                    "type": "string",
                    "enum": [
                      "resource",
                      "conversation",
                      "instruction"
                    ],
                    "description": "Type of context being added"
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "internal",
                      "external"
                    ],
                    "default": "internal",
                    "description": "Scope of the context"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Additional metadata for the context",
                    "properties": {
                      "fileName": {
                        "type": "string",
                        "description": "Name of the file"
                      },
                      "fileType": {
                        "type": "string",
                        "description": "Type/MIME of the file"
                      },
                      "groupName": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Array of Group Name to which the file belongs to"
                      },
                      "lastModified": {
                        "type": "string",
                        "description": "Last modified timestamp"
                      },
                      "fileSize": {
                        "type": "number",
                        "description": "Size of the file in bytes"
                      }
                    }
                  }
                }
              },
              "example": {
                "documents": [
                  {
                    "content": "Customer asked about pricing for the Scale plan.",
                    "containerTag": "support-emails",
                    "ticketId": "TCK-1234"
                  }
                ],
                "source": "support-inbox",
                "context_type": "resource",
                "scope": "internal",
                "metadata": {
                  "fileName": "support_thread_TCK-1234.txt",
                  "fileType": "text/plain",
                  "groupName": [
                    "support",
                    "pricing"
                  ],
                  "lastModified": "2025-01-10T12:34:56.000Z",
                  "fileSize": 2048
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Context added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request – Invalid or missing context data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "description": "Error details"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – User is not authenticated"
          },
          "402": {
            "description": "Payment Required - User does not have enough credits"
          },
          "403": {
            "description": "Forbidden - User does not have required scope"
          },
          "404": {
            "description": "Not Found - Invalid context data format"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/context/delete": {
      "post": {
        "tags": [
          "context"
        ],
        "summary": "Delete context data",
        "description": "Deletes context data based on provided parameters",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string",
                    "description": "Source identifier for the context"
                  },
                  "user_id": {
                    "type": "string",
                    "description": "Optional user ID",
                    "deprecated": true,
                    "nullable": true
                  },
                  "organization_id": {
                    "type": "string",
                    "description": "Optional organization ID",
                    "nullable": true
                  },
                  "by_doc": {
                    "type": "boolean",
                    "description": "Flag to delete by document",
                    "default": true,
                    "nullable": true
                  },
                  "by_id": {
                    "type": "boolean",
                    "description": "Flag to delete by ID",
                    "default": false,
                    "nullable": true
                  }
                }
              },
              "example": {
                "source": "support-inbox",
                "by_doc": true,
                "by_id": false
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successfully deleted context",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized - User not authenticated"
          },
          "403": {
            "description": "Forbidden - User lacks required permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/context/memory/add": {
      "post": {
        "summary": "Add memory context data",
        "description": "This endpoint adds memory context data, fetching chat history if needed.",
        "tags": [
          "context"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "memoryId": {
                    "type": "string",
                    "description": "The ID of the memory"
                  },
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": true
                    },
                    "description": "Array of content objects with additional properties allowed"
                  }
                }
              },
              "example": {
                "memoryId": "support-thread-TCK-1234",
                "contents": [
                  {
                    "content": "Customer asked about pricing for the Scale plan.",
                    "metadata": {
                      "messageId": "msg-1"
                    },
                    "role": "user",
                    "id": "msg-1",
                    "createdAt": "2025-01-10T12:34:56.000Z"
                  },
                  {
                    "content": "Explained the Scale plan pricing and shared the pricing page link.",
                    "metadata": {
                      "messageId": "msg-2"
                    },
                    "role": "assistant",
                    "id": "msg-2",
                    "createdAt": "2025-01-10T12:35:30.000Z"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Memory context added successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/context/memory/delete": {
      "post": {
        "summary": "Delete memory context data",
        "description": "Deletes memory context data based on provided parameters",
        "tags": [
          "context"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "memoryId": {
                    "type": "string",
                    "description": "The ID of the memory to delete"
                  },
                  "user_id": {
                    "type": "string",
                    "description": "Optional user ID",
                    "deprecated": true,
                    "nullable": true
                  },
                  "organization_id": {
                    "type": "string",
                    "description": "Optional organization ID",
                    "nullable": true
                  }
                }
              },
              "example": {
                "memoryId": "support-thread-TCK-1234"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successfully deleted memory context"
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/context/memory/update": {
      "post": {
        "summary": "Update memory context data",
        "description": "This endpoint updates memory context data.",
        "tags": [
          "context"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "memoryId": {
                    "type": "string",
                    "description": "The ID of the memory to update"
                  },
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": true
                    },
                    "description": "Array of updated content objects"
                  }
                }
              },
              "example": {
                "memoryId": "support-thread-TCK-1234",
                "contents": [
                  {
                    "content": "Customer asked about pricing for the Scale plan.",
                    "metadata": {
                      "messageId": "msg-1"
                    },
                    "role": "user",
                    "id": "msg-1",
                    "createdAt": "2025-01-10T12:34:56.000Z"
                  },
                  {
                    "content": "Updated answer about the Scale plan pricing after discounts.",
                    "metadata": {
                      "messageId": "msg-2"
                    },
                    "role": "assistant",
                    "id": "msg-2",
                    "createdAt": "2025-01-10T12:36:00.000Z"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Memory context updated successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/context/search": {
      "post": {
        "summary": "Search for context data in the context processor",
        "description": "This endpoint sends a search request to the context processor to retrieve relevant context data based on the provided query.",
        "tags": [
          "context"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "metadata",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "default": "false"
            },
            "required": false,
            "description": "Controls whether metadata is included in the response:\n- metadata=true → metadata will be included in each context item in the response.\n- metadata=false (or omitted) → metadata will be excluded from the response for better performance.\n"
          },
          {
            "in": "query",
            "name": "mode",
            "schema": {
              "type": "string",
              "enum": [
                "fast",
                "standard"
              ],
              "default": "standard"
            },
            "required": false,
            "description": "Controls the search mode:\n- mode=fast → prioritizes speed over completeness.\n- mode=standard → performs a comprehensive search (default if omitted).\n"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "similarity_threshold",
                  "minimum_similarity_threshold"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "The ID of the user making the request",
                    "example": "user123",
                    "deprecated": true
                  },
                  "query": {
                    "type": "string",
                    "description": "The search query used to search for context data",
                    "example": "search query for user preferences"
                  },
                  "similarity_threshold": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Maximum similarity threshold (must be >= minimum_similarity_threshold)",
                    "example": 0.8
                  },
                  "minimum_similarity_threshold": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Minimum similarity threshold",
                    "example": 0.5
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "internal",
                      "external"
                    ],
                    "default": "internal",
                    "description": "Search scope"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Additional metadata for the search",
                    "default": {}
                  }
                }
              },
              "examples": {
                "simple": {
                  "summary": "Search without metadata filters (metadata=false or omitted)",
                  "value": {
                    "query": "What did the customer ask about pricing for the Scale plan?",
                    "similarity_threshold": 0.8,
                    "minimum_similarity_threshold": 0.5,
                    "scope": "internal"
                  }
                },
                "withMetadata": {
                  "summary": "Search with metadata filters (requires metadata=true)",
                  "value": {
                    "query": "What did the customer ask about pricing for the Scale plan?",
                    "similarity_threshold": 0.8,
                    "minimum_similarity_threshold": 0.5,
                    "scope": "internal",
                    "metadata": {
                      "fileName": "support_thread_TCK-1234.txt",
                      "groupName": [
                        "support",
                        "pricing"
                      ],
                      "lastModifiedAt": "2025-01-10T12:34:56.000Z"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Context search request successfully processed. Response structure varies based on metadata query parameter: if metadata=true, each context includes metadata; if metadata=false or omitted, metadata is excluded from the response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contexts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Only included when query parameter metadata=true"
                          },
                          "content": {
                            "type": "string"
                          },
                          "score": {
                            "type": "number",
                            "minimum": 0.001
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid or missing search parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string",
                      "example": "Fields missing. Detailed error: {error details}"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - User not authenticated"
          },
          "402": {
            "description": "Payment Required - User not allowed to perform action"
          },
          "403": {
            "description": "Forbidden - User lacks required scope"
          },
          "500": {
            "description": "Internal error during context search processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string",
                      "example": "error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/context/traces/{traceId}/delete": {
      "delete": {
        "summary": "Delete a specific data trace",
        "description": "Deletes a data trace for the authenticated user with the specified trace ID",
        "tags": [
          "Traces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "traceId",
            "required": true,
            "description": "ID of the trace to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "trace": {
                      "type": "object",
                      "description": "The deleted trace data"
                    }
                  }
                },
                "example": {
                  "trace": {
                    "_id": "trace_123",
                    "userId": "user_123",
                    "type": "context.search",
                    "data": {
                      "query": "What did the customer ask about pricing for the Scale plan?",
                      "source": "support-inbox",
                      "fileName": "support_thread_TCK-1234.txt"
                    },
                    "createdAt": "2025-01-10T12:35:10.000Z",
                    "updatedAt": "2025-01-10T12:35:10.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/context/traces": {
      "get": {
        "summary": "Retrieves a list of traces for the authenticated user",
        "tags": [
          "Traces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved traces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "traces": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "data": {
                            "type": "object"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "traces": [
                    {
                      "_id": "trace_123",
                      "userId": "user_123",
                      "type": "context.search",
                      "data": {
                        "query": "What did the customer ask about pricing for the Scale plan?",
                        "source": "support-inbox",
                        "fileName": "support_thread_TCK-1234.txt"
                      },
                      "createdAt": "2025-01-10T12:35:10.000Z",
                      "updatedAt": "2025-01-10T12:35:10.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - User not found"
          },
          "402": {
            "description": "Unauthorized - Invalid user"
          },
          "403": {
            "description": "Forbidden - User lacks required scope"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusText": {
                      "type": "string",
                      "description": "Error message (detailed in debug mode)"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/context/view/docs": {
      "get": {
        "tags": [
          "context"
        ],
        "summary": "Retrieve user contexts by documents.",
        "description": "Fetches documents view for authenticated user with optional organization context",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved documents view",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "documents": [
                    {
                      "fileName": "support_thread_TCK-1234.txt",
                      "fileType": "text/plain",
                      "groupName": [
                        "support",
                        "pricing"
                      ],
                      "lastModified": "2025-01-10T12:34:56.000Z",
                      "fileSize": 2048
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - User not authenticated"
          },
          "402": {
            "description": "Invalid user"
          },
          "403": {
            "description": "Forbidden - User lacks required scope"
          },
          "default": {
            "description": "Unexpected error from context processor"
          }
        }
      }
    },
    "/api/v1/context/view": {
      "get": {
        "tags": [
          "context"
        ],
        "summary": "Retrieve user context",
        "description": "Gets the context information for the authenticated user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "file_name",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Name of the file to retrieve context for"
          },
          {
            "in": "query",
            "name": "magic_key",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Magic key for context retrieval"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved context",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "context": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "List of context items"
                    }
                  }
                },
                "example": {
                  "context": [
                    {
                      "content": "Customer asked about pricing for the Scale plan.",
                      "metadata": {
                        "fileName": "support_thread_TCK-1234.txt",
                        "fileType": "text/plain",
                        "groupName": [
                          "support",
                          "pricing"
                        ],
                        "lastModified": "2025-01-10T12:34:56.000Z",
                        "fileSize": 2048
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - User not authenticated"
          },
          "403": {
            "description": "Forbidden - User doesn't have required scope"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/org/context/view": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "View organization context",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userIds"
                ],
                "properties": {
                  "userIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "deprecated": true
                  }
                }
              },
              "example": {
                "userIds": [
                  "user_123",
                  "user_456"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contexts": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "contexts": {
                    "user_123": [
                      {
                        "content": "Customer asked about pricing for the Scale plan.",
                        "metadata": {
                          "fileName": "support_thread_TCK-1234.txt",
                          "fileType": "text/plain",
                          "groupName": [
                            "support",
                            "pricing"
                          ],
                          "lastModified": "2025-01-10T12:34:56.000Z",
                          "fileSize": 2048
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Invalid user"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Context processor error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "tags": []
}